@charset "UTF-8";

/* .header_bg {background-color: #f8bcbb;}
.bg_body {background-color: #f283dd;}
.bg_footer {background-color: #ABF200;} */


 *{
        font-family: 'Ubuntu', sans-serif;
    }